<form action="https://api.sheetmonkey.io/form/3ptqxFrJLuuBDFC9nYfw3" method="post">
    <!-- Put HTML input fields in here and see how they fill up your sheet -->
    <h3>Basic information</h3>
    <label>Name:&emsp;<input type="text" name="Name" required /></label>
    <br><br>
    <label>Email:&emsp;<input type="email" name="Email" required /></label>
    <br><br>
    <h3>Games</h3>
    <h4>How many games would you like?</h4>
    <label>Open Science Against Humanity:&emsp;<input type="number" min="0" max="10" name="OSAH"/></label>
    <br><br>
    <label>Open Loves Science:&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="number" autocomplete="0" min="0" max="10" name="OlovesS"/></label>
    <br><br>
    <h4>What is the reason you are requesting games?</h4>
    <textarea id="reason" name="Reason" rows="4" cols="50"></textarea>
    <br><br>
    <input type="hidden" name="Created" value="x-sheetmonkey-current-date-time" />
    <input type="submit" value="Submit" />
  </form>
