<form action="https://api.sheetmonkey.io/form/3ptqxFrJLuuBDFC9nYfw3" method="post">
    <!-- Put HTML input fields in here and see how they fill up your sheet -->
    <fieldset>
      <legend>Basic information</legend>
      <label>Name</label>
      <input type="text" name="Name" required />
      <br>
      <label>Email</label>
      <br>
      <input type="email" name="Email" required />
      <br>
      <label>Postal address</label>
      <textarea id="postal" name="Post" rows="4" cols="50"></textarea>
    </fieldset>
    <br>
    <fieldset>
      <legend>Requested games</legend>
      <label for="OSAH">Open Science Against Humanity</label>
      <input id="OSAH" type="number" min="0" placeholder="0" name="OSAH"/>
      <br>
      <label for="OlovesS">Open Loves Science</label>
      <input id="OlovesS" type="number" min="0" placeholder="0" name="OlovesS"/>
      <br>
      <label for="OSA">Open Science Allianc</label>
      <input id="OSA" type="number" min="0" placeholder="0" name="OSA"/>
      <br>
      <label>What is the reason you are requesting games?</label>
      <textarea id="reason" name="Reason" rows="4" cols="50"></textarea>
    </fieldset>
    <br>
    <input type="hidden" name="Created" value="x-sheetmonkey-current-date-time" />
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
