/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// colours
$black: #080305;
$white: #fff;

$body-bg: $white;
$body-color: $black;

$navbar-bg: $black;
$navbar-fg: $white;

// font
$font-family-sans-serif: "Open Sans";

/*-- scss:rules --*/

// webforms

input,
textarea {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-weight: 400;
  color: $black;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
  color: $white;
  background-color: $black;
  border-color: transparent;
}

.btn:hover {
   background-color: rgba($black, 0.7);
   transition: 0.7s;
   border-color: transparent;
}
